{% extends 'polls\base.html' %}
{% block title %} Best Works {% endblock %}
{% block content %} 
{% if latest_articles_list %}

  {% for a in latest_articles_list %}
    <a class='zadaniya' href="{% url 'polls:art_detail' a.id %}">{{a.article_title}} </a>
    <br>
    <br>
  {% endfor %}

{% else %}
  Don`t see any article
{% endif %} 

{% if latest_info_list %}
    <ul>
    {% for info in latest_info_list %}
        <li><a align ='center' href="{% url 'polls:info_detail' info.id %}">{{ info.info_title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %} 
